{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon.ico">
    <link rel="icon" type="image/x-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon.ico">
    <link rel="icon" type="image/gif" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon.gif">
    <link rel="icon" type="image/png" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon.png">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-128x128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="http://metroplan.de/sites/all/themes/pure/img/icons/apple-touch-icon-precomposed.png">
    <link rel="icon" type="image/png" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="http://metroplan.de/sites/all/themes/pure/img/icons/favicon-196x196.png" sizes="196x196">
    <meta name="msapplication-TileImage" content="http://metroplan.de/sites/all/themes/pure/img/icons/win8-tile-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="application-name" content="Metroplan"/>
    <meta name="msapplication-tooltip" content="Metroplan"/>
    <meta name="apple-mobile-web-app-title" content="Metroplan"/>
    <meta name="msapplication-square70x70logo" content="http://metroplan.de/sites/all/themes/pure/img/icons/win8-tile-70x70.png">
    <meta name="msapplication-square144x144logo" content="http://metroplan.de/sites/all/themes/pure/img/icons/win8-tile-144x144.png">
    <meta name="msapplication-square150x150logo" content="http://metroplan.de/sites/all/themes/pure/img/icons/win8-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="http://metroplan.de/sites/all/themes/pure/img/icons/win8-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="http://metroplan.de/sites/all/themes/pure/img/icons/win8-tile-310x310.png">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40384370-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
