{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if (region == "mmone") or (region == "mmtwo") or (region == "mmthree") or (region == "mmfour") or (region == "mmfive") %}
      <img class="close" src="/sites/all/themes/pure/img/nav-mm-close.svg">
    {% endif %}
    {{ content }}
  </div>
{% endif %}
