@import "vars";

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%;
  }

  #block-pure-branding img[src*=".svg"] {
    width: 100% !important;
    height: 65px !important;
  }

  #block-pure-branding img.m[src*=".svg"] {
    width: 100% !important;
    height: 35px !important;
  }

}

.clearfix:after {
  clear: both;
}

body, html {
  background: #FFF;
  font-family: $regular, Arial, Sans-Serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: $middlegrey;
}

a {
  color: $orange;
  font-family: $bold;
  text-decoration: none;

  & img {
    border: none !important;
  }

}

a:hover {
  text-decoration: underline;
}

a.views-more-link,
a.more {
  font-family: $regular;
  font-weight: normal !important;
  color: $orange;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 0.9em;
  line-height: 1.5em;
}

.break {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

h1, h2 {
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
  color: $grey;
  font-family: $bold;
  font-weight: 500;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.section,
.services,
.events,
.intro,
#block-sitemap,
.region-seo-footer,
.region-copyright-footer{
  @include susy-breakpoint(0 1280px) {
    padding: 0 20px;
  }
}

.jobs-overview {
  border-bottom: 1px solid $middlegrey;
}

.accordion {
  border-top: 1px solid $middlegrey;
  padding-left: 0px;
  margin: 0;
  list-style: none;

  &.active {
    & h3.jobs-title {
      &:after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  & dd {
    display: none;
    padding: 35px 0px 50px 0px;
    line-height: 1.4em;
    margin: 0;

    & ul {
      font-family: $bold;
      font-size: 0.9em;
      padding-left: 15px;

      & li {
        padding-bottom: 3px;
      }

    }

    & p:last-child {
      padding-bottom: 1em !important;
    }

  }

  & h3.jobs-title {
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;

    &:after {
      display: none;

      @include susy-breakpoint($tablet) {
      content: "";
      background: url(../img/nav-accordion-open-close-01.svg);
      background-size: 100%;
      display: block;
      height: 30px;
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: 0.3s ease transform;
      width: 30px;
      }
    }
  }
}



.portrait-wrapper {
  display: block;
  clear: both;
  min-height: 250px;

  & img.portrait  {
    width: 150px !important;
    height: auto;
    margin-right: 20px !important;
  }

}


