@import "vars";

#block-pure-breadcrumbs {
  @include container();
  padding-top: 40px;
  & ul {
    font-size: 0.8em;
    margin-left: 0px;
    padding-left: 0px;
    @include susy-breakpoint($desktop) {
      font-size: 0.7em;
    }
    & li {
      display: inline-block;
      &:after {
        content: '/';
        margin: 0 3px;
      }
      &:last-child {
        &:after {
          content: ' ';
          display: inline-block;
        }
      }
    & a {
        font-family: $regular !important;
        color: $darkgrey;
      }
    }
  }
}

.banner {
  @include full();

  margin-bottom: 30px;
  @include susy-breakpoint($desktop) {
    margin-bottom: 60px;
  }

  & img {
    width: 100%;
    height: auto;
  }

}

#block-pure-page-title,
#block-pure-content {
  @include container();
}

#block-produktion-3 {
  @include container();
}

#block-views-block-industry-block-1 {
  padding-top: 50px;
  padding-bottom: 65px;

  & .views-row {

    @include span(12);

    @include susy-breakpoint($tablet) {
      @include span(6);
      @include nobreak();
    }

    @include susy-breakpoint($tablet $desktop) {
      &:nth-of-type(2n),
      &:last-child {
        @include last();
      }
    }

    @include susy-breakpoint($desktop) {
      @include span(3);

      &:nth-of-type(4),
      &:last-child {
        @include last();
      }
    }


    & .industry {
      background: $lightgrey;
      height: 90vw;
      position: relative;
      margin-bottom: 10px;

      @include susy-breakpoint($tablet) {
        height: 350px;
        max-height: 350px;
        margin-bottom: 13px;
      }

      @include susy-breakpoint($desktop) {
        height: 305px;
        margin-bottom: 20px;
      }

      & a {
        color: $white;
        display: block;
        font-size: 20px;
        min-height: 50px;
        padding: 85% 20px 20px 20px;
        text-decoration: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;

        &:hover {
          text-decoration: none;
        }

        @include susy-breakpoint($tablet) {
          padding-top: 60%;
        }

        @include susy-breakpoint($desktop) {
          padding-top: 77%;
        }


      }
    }

    & .industry-id-65 {

       & .industry {
        background-image: $airsea;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 20px 30px;
        position: relative;

       &:hover {
         background-size: 52%;
         background-color: $orange;
       }

        @include susy-breakpoint($desktop) {
          background-size: 45%;

          &:hover {
            background-size: 47%;
          }

        }

       }

    }

    & .industry-id-66 {

      & .industry {
        background-image: $machine;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 20px 30px;
        position: relative;

        &:hover {
          background-size: 52%;
          background-color: $orange;
        }

        @include susy-breakpoint($desktop) {
          background-size: 45%;

          &:hover {
            background-size: 47%;
          }

        }

      }

    }

    & .industry-id-68 {

      & .industry {
        background-image: $car;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 20px 30px;
        position: relative;

        &:hover {
          background-size: 52%;
          background-color: $orange;
        }

        @include susy-breakpoint($desktop) {
          background-size: 45%;

          &:hover {
            background-size: 47%;
          }

        }

      }

    }

    & .industry-id-71 {

      & .industry {
        background-image: $logistics;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 20px 30px;
        position: relative;

        &:hover {
          background-size: 52%;
          background-color: $orange;
        }

        @include susy-breakpoint($desktop) {
          background-size: 45%;

          &:hover {
            background-size: 47%;
          }

        }

      }

    }

    & .industry-id-69 {

      & .industry {
        background-image: $fmcg;
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        position: relative;

        &:hover {
          background-size: 42%;
          background-color: $orange;
        }

        @include susy-breakpoint($desktop) {
          background-size: 35%;

          &:hover {
            background-size: 37%;
          }

        }

      }

    }

    & .industry-id-67 {

      & .industry  {
        background-image: $electro;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 20px 30px;
        position: relative;

        &:hover {
          background-size: 52%;
          background-color: $orange;
        }

        @include susy-breakpoint($desktop) {
          background-size: 45%;

          &:hover {
            background-size: 47%;
          }


        }

      }

    }

    & .industry-id-70 {
      & .industry {
        background-image: $trade;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 20px 30px;
        position: relative;

        &:hover {
          background-size: 52%;
          background-color: $orange;
        }

        @include susy-breakpoint($desktop) {
          background-size: 45%;

          &:hover {
            background-size: 47%;
          }

        }

      }

    }

    & .industry-id-72 {
      & .industry {
        background-image: $misc;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 20px 30px;
        position: relative;

        &:hover {
          background-size: 52%;
          background-color: $orange;
        }

        @include susy-breakpoint($desktop) {
          background-size: 45%;

          &:hover {
            background-size: 47%;
          }

        }
      }
    }
  }
}

/** FRONTPAGE **/

.path-frontpage {

  & .region {
    @include container();
    padding-bottom: 25px;

    & .block-views-blocknews-block-1 {
      @include span(full);

      @include susy-breakpoint($desktop) {
        @include span(6 no-gutters);
      }

      & .views-row {
        min-height: 150px;
        margin-bottom: 50px;

        & .views-field-title {

          & a {
            color: $grey;
          }

        }

        & .views-field-field-image {
          margin-bottom: 20px;
          margin-right: 0px;
          float: none;

          @include susy-breakpoint($tablet) {
            float: left;
            margin-bottom: 0px;
            margin-right: 20px;
          }

          & img {
            width: 100%;

            @include susy-breakpoint($tablet) {
              width: auto;
            }

            @include susy-breakpoint($desktop) {
              width: 200px;
              height: auto;
            }

          }

        }

        & .views-field-title {
          padding-bottom: 5px;
        }

      }

    }

    & .block-views-blocknews-block-2 {
        @include span(full);

      @include susy-breakpoint($desktop) {
        @include span(5);
        @include push(1);
        margin-right: 0px;
      }

      &:after {
        content: "";
        display: table;
        @include break();
      }

      & .views-row {
        @include break();
        position: relative;
        min-height: 125px;
      }
      & .views-field-field-datum-2 {
        font-family: $light;
        border: 1px solid $lightgrey;
        border-radius: 3px;
        padding: 12px 0 32px;
        font-size: 40px;
        text-align: center;
        float: left;
        width: 100px;
      }
      & .views-field-field-datum-1 {
        position: absolute;
        left: 51px;
        font-size: 14px;
        top: 62px;
        transform: translateX(-50%);
      }
      & .views-field-title {
        & a {
          font-size: 0.9em;
          color: $grey;
          display: block;
          margin-bottom: 5px;
        }
      }
      & .views-field-title,
      & .views-field-field-datum,
      & .views-field-body {
        width: auto;
        margin-left: 120px;
        margin-right: 0;

        @include susy-breakpoint($tablet) {
          width: span(3 of 4);
        }

      }

      & .views-field-body {
        padding-bottom: 50px;
      }

    }

    &.region-services {
      padding-bottom: 45px;

      & #block-produktionsundlogistikstandorte {
        background-color: $darkgrey;
        padding: 20px 20px 40px 20px;

        @include susy-breakpoint($desktop) {
          padding: 40px 40px 80px 40px;
        }

        & h2 {
          font-size: 1.5em !important;
          color: $white;
          padding-top: 0px;
          margin-top: 0px;
          border-bottom: none;

          @include susy-breakpoint($desktop) {
            font-size: 1.8em !important;
          }

        }

      }

      & #block-beratungundkonzeption,
      & #block-planungundrealisierung,
      & #block-optimierungundeffizienzsteigerung {
        @include span(12);
        margin-top: gutter();
        padding: 20px 20px 10px 20px;
        background-color: $lightgrey;

        @include susy-breakpoint($desktop) {
          @include span(4 of 12);
          min-height: 310px;
          padding: 40px 40px 20px 40px;
        }

        & h2 {
          font-size: 1.5em !important;
          color: $white;
          padding-top: 0px;
          padding-bottom: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
          border-bottom: none;

          @include susy-breakpoint($desktop) {
            padding-bottom: 55px;
            border-bottom: 1px solid $white;
            font-size: 1.8em !important;
          }

        }

        & p {
          color: $white;
          font-size: 0.9em;
          margin-top: 15px;
          line-height: 1.2em;

          @include susy-breakpoint($desktop) {
            font-size: inherit;
            margin-top: 20px;
          }

        }

      }

      & #block-optimierungundeffizienzsteigerung {

        @include susy-breakpoint($desktop) {
          @include last();
        }

      }

    }

  }

  & .region-intro {

    & p {
      font-size: 1.1em;
    }

  }

  & .region-intro,
  & .region-events,
  & .region-services,
  & .region-content {
    position: relative;

    & h2 {
      font-size: 2.3em !important;
      padding-bottom: 25px;
      margin-bottom: 45px;
      border-bottom: 1px solid $middlegrey;
      margin-top: 50px;

      @include susy-breakpoint($tablet) {
        font-size: 2.9em !important;
      }

    }

  }

  & .region-full {
    @include full();
    max-width: inherit;
    margin: 0px 0px 50px 0px;
    position: relative;
  }

}

/** OVERVIEW **/

.region-content {

  & #block-introproduktionberatungundkonzeption,
  & #block-introproduktionplanungundrealisierung,
  & #block-introproduktionoptimierungundeffizienzsteigerung,
  & #block-consultingconception-2,
  & #block-planningrealisation-2,
  & #block-optimisationincreasedefficiency-2,
  & #block-datenundfakteninfografiken {
    @include container();
  }

  & .contextual-region.block {

    & .content {

      & div {

        @include container();

        & figure {
          margin: 0px;

          & figcaption {
            font-size: 0.9em;
            padding-top: 5px;
            margin-bottom: 50px;
          }

        }

      }

    }

  }

}

/** REFERENZEN INTRO **/

#block-introreferenzen {
  @include container();
  padding-bottom: 15px;

  & h2 {
    font-size: 2.7em;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 45px;
    border-bottom: 1px solid $middlegrey;
  }

}

/** MANAGER **/

#block-manager-2 {
  @include container();
}

#manager-wrapper {

  & .manager-group {
    list-style: none;
    padding: 0px;
    margin: 55px 0px 0px 0px;

    & .manager-item {
        @include span(12);
        margin-bottom: 30px;

        @include susy-breakpoint($tablet $desktop) {
        @include span(6);

          &:nth-child(2n) {
            @include last();
          }

      }

      @include susy-breakpoint($desktop) {
        @include span(4);

        &:nth-child(3n) {
          @include last();
        }

      }

      & figure {
        margin: 0px;
        padding: 0px;

        & figcaption {
          padding-top: 10px;
          font-size: 0.9em;
          line-height: 1.5em;
        }

      }

    }

  }

}
