@import "vars";

.page-node-type-page {

  & #block-pure-page-title {
    display: none;
  }

  & article {

    & .node__content {

      & .article-image {

        & img {
          padding-bottom: 50px;
        }

      }

      & .with-caption img {
          padding-bottom: 5px;
      }

      & .image-caption {
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 0.9em;
      }

      & .layout {
        column-count: 1;
        @include susy-breakpoint(800px) {
          column-count: 2;
          column-gap: 30px;
        }
        margin-bottom: 70px;

        & img {
          width: 100%;
          height: auto;
          margin-bottom: 50px;
        }

        & .full-width {
          -webkit-column-span: all; /* Chrome, Safari, Opera */
          -moz-column-span: all; /* Firefox */
          column-span: all;
          -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
          -moz-column-gap: 30px; /* Firefox */
          column-gap: 30px;
          margin-bottom: 50px;
        }

        & figure {
          padding: 0px;
          margin: 0px;

          & img {
            margin-bottom: 5px;
          }

          & figcaption {
            font-size: 0.9em;
            padding-top: 5px;
            margin-bottom: 50px;
          }

        }

        & .lead {
          font-family: $bold;
          font-size: 1.1em;
          line-height: 1.4em;
          margin-top: 0px;
        }

        & .divider-hl {
          font-family: $bold;
          margin-bottom: 0px;
          /** padding-top: 10px; DO WE NEED THIS **/

          &+p {
            margin-top: 0px;
          }

        }

        & p:first-child {
          margin-top: 0px;
        }

        & ul {
          font-size: 0.9em;
          list-style: none;
          padding: 5px 0 5px 12px;
          margin-top: 0px;
          line-height: 1.4em;

          & li {
            padding-bottom: 5px;

            &:before {
              content: "•";
              padding-right: 7px;
              margin-left: -12px;
              font-size: 0.8em;
            }

            & a {
              color: $middlegrey;
              font-family: $regular;
            }

          }

          &.highlight {
            color: $orange;
          }

        }

        & ol {
          color: $orange;
          font-size: 0.9em;
          padding: 5px 0 5px 20px;
          margin-top: 0px;
          line-height: 1.4em;
        }

      }

    }

  }

}


#content {

  & h1.node__title,
  & h1.js-quickedit-page-title {
    font-size: 1.5em;
    padding-top: 20px;
    word-break: break-all;

    @include susy-breakpoint($tablet) {
      font-size: 2em;
      padding-top: 50px;
    }

    @include susy-breakpoint($desktop) {
      font-size: 2.7em;
      padding-top: 15px;
    }
  }

  & h1.page-title {
    font-size: 1.5em;
    @include susy-breakpoint($tablet) {
      font-size: 2em;
    }

    @include susy-breakpoint($desktop) {
      font-size: 2.3em;
    }

  }

  & h2,
  & h3 {
    font-size: 1.5em;
    letter-spacing: 0px;

    @include susy-breakpoint($tablet) {
      font-size: 1.2em;
    }

  }



  & .field--name-field-subline {
    font-size: 1em;
    @include susy-breakpoint($tablet) {
      font-size: 1.6em;
    }

    @include susy-breakpoint($desktop) {
      font-size: 2.2em;
    }

    & h2 {
      font-family: $regular;
      display: block;
      border-bottom: 1px solid $darkgrey;
      padding-bottom: 25px;

      margin-bottom: 40px;
      @include susy-breakpoint($tablet) {
        margin-bottom: 50px;
      }

      @include susy-breakpoint($desktop) {
        margin-bottom: 60px;
      }
    }

  }

  & h2.subline {
    font-size: 2.2em;
    font-family: $regular;
    display: block;
    border-bottom: 1px solid $darkgrey;
    padding-bottom: 25px;
    margin-bottom: 45px;
  }

  & .downloads,
  & .references {
    @include span(6);
    @include susy-breakpoint($desktop) {
      @include span(4);
    }

   & h4,
   & span.views-label {
     font-size: 1.3em;
     font-family: $bold;
     border-bottom: 1px solid $darkgrey;
     padding-top: 5px;
     padding-bottom: 20px;
     margin-bottom: 40px;
     display: block; //OK?
   }

   & ul {
     list-style: none;
     font-size: 0.9em;
     padding-left: 12px;
     line-height: 1.2em;

     & li {
       padding-bottom: 5px;

       &:before {
         content: "-";
         padding-right: 7px;
         margin-left: -12px;
       }

       & a {
         color: $middlegrey;
         font-family: $regular;
       }

     }

   }

  }

  & .back-to {
    display: inline;
    @include span(12);
    @include susy-breakpoint($desktop) {
      @include span(4 no-gutter);
    }
    border-bottom: 1px solid $darkgrey;
    padding-top: 17px;
    padding-bottom: 14px;

   & a {
     font-size: 0.8em;

     &:before {
       background: url(../img/icon-arrow-orange.png);
       background-repeat: no-repeat;
       background-size: 5px 10px;
       display: inline-block;
       width: 15px;
       height: 10px;
       padding: 0;
       content: "";
     }

   }

  }

}


