@import "vars";

.site-footer {
  background-color: $orange;
  font-size: 0.9em;
  padding-top: 20px;
  margin-top: 75px;
  color: $white;

  @include susy-breakpoint($desktop) {
    padding-top: 75px;
  }

  & a {
    color: $white !important;
  }

  & h2 {
    color: $white;
    font-family: $bold;
    margin: 0;
    letter-spacing: 0px;
    font-size: 1em;

    & a {
      color: $white;
    }

  }

  & ul {
    list-style: none;
    color: & white;
    padding-left: 7px;
    margin-top: 0;
    margin-bottom: 0px;

    & a {
      color: $white;
      font-family: $regular;
    }

  }

  & .region-footer {
    @include container();

    margin-top: 20px;
    margin-bottom: 35px;
    padding: 35px 20px;
    @include susy-breakpoint($desktop) {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      padding-left: 0px;
      padding-right: 0px;
    }
    &:before {
      position: absolute;
      margin-top: -50px;
      color: $white;
      content: " ";
      background-image: url(../img/metroplan_weiss.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 90%;
      display: block;
      width: 125px;
      height: 25px;
      @include susy-breakpoint($desktop) {
        margin-top: -90px;
        background-size: 100%;
      }
    }

    & nav {
      @include susy-breakpoint($tablet) {
        @include span(6);
      }
      @include susy-breakpoint($desktop) {
        @include span(4);
      }
      & ul {
        padding-left: 0px;
        margin-left: 0px;
        & li {
          padding-top: 5px;
        }
      }
    }

    #block-kontakt-3 {
      padding-top: 25px;
      @include susy-breakpoint($tablet) {
        padding-top: 0px;
        @include span(6);
        @include last();
      }
      @include susy-breakpoint($desktop) {
        @include span(4);
      }
      p {
        margin-top: 5px;
      }
    }

    #block-folgensieuns {
      @include span(full);
      margin-top: 25px;
      @include susy-breakpoint($desktop) {
        margin-top: 0px;
        padding-bottom: 20px;
        @include span(4);
        @include last();
      }

      & #mc_embed_signup {
        @include break;
        padding-top: 30px;

        & h4 {
          margin-bottom: 15px;
          color: $white;
        }

        & input {
          -webkit-appearance: none;
          border-radius: 0px;
          border: 1px solid $white;
          background-color: $orange;
          color: $white;
          width: 100%;
          padding: 7px;
          font-size: 0.9em;

          &.button {
            background-color: $white;
            color: $orange;
            font-family: $bold;
            text-align: left;
            margin-top: 10px;
          }

          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }

          &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $white;
          }

          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $white;
            opacity: 1;
          }

          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $white;
            opacity: 1;
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $white;
          }

          &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
            color: $white;
          }

        }

      }

    }

  }

  & .sitemap {
    & .region-sitemap {
      @include container();
      padding: 0 20px 175px 20px;
      margin-bottom: 25px;
      background-image: url(../img/metroplan_m_weiss.svg);
      background-repeat: no-repeat;
      background-position: 20px 99%;
      background-size: 90px;
      @include susy-breakpoint($desktop) {
        padding-right: 0px;
        padding-left: 0px;
        background-position: 0px 99%;
      }
      & nav {
        padding-bottom: 20px;
        @include susy-breakpoint($tablet $desktop) {
          @include span(4);
          &:last-child {
            @include last();
          }
        }
        @include susy-breakpoint($desktop) {
          @include span(4);
          &:nth-child(3) {
            @include last();
          }
        }
        & ul {
          padding-left: 0px;
          margin-left: 0;
          & li {
            padding-left: 10px;
            padding-bottom: 5px;
            @include susy-breakpoint($desktop) {
              padding-bottom: 20px;
            }
            &:first-of-type {
              padding-left: 0px;
              padding-bottom: 5px;
            }
            & a {
              font-family: $bold;
            }
            & ul {
              display: none;
              @include susy-breakpoint($desktop) {
                display: inherit;
              }
              & li {
                padding-left: 0px;
                padding-bottom: 0px;
                &:first-of-type {
                  padding-bottom: 0px;
                }
              }
              & a {
                display: block;
                padding-top: 5px;
                font-family: $regular;
              }
              &:last-child {
                padding-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }

  & .region-seo-footer {
    @include container();
    color: $white;
    border-top: 1px solid $white;
    padding-top: 30px;
    padding-bottom: 75px;
    margin-top: 35px;

    @include susy-breakpoint($tablet) {
      padding-top: 50px;
      margin-top: 0px;
    }

    & .block {
      @include span(12);
      padding-bottom: 15px;

      @include susy-breakpoint($tablet $desktop) {
        @include span(6);
        &:nth-child(2n) {
          @include last;
        }
      }

      @include susy-breakpoint($desktop) {
        @include span(4);
        &:nth-child(3n) {
          @include last;
        }
      }

      & h2 {
        font-size: 0.9em;
        color: $white;
      }

      & p {
        margin-top: 0px;
      }

    }

  }

}

.region-copyright-footer {
  @include container();
  padding-bottom: 130px;

  & nav {
    float: left;
    line-height: 1.1em;

    & ul {
      list-style: none;
      padding-left: 0px;
      margin-left: 0px;

      & a {
        font-family: $regular;
        font-weight: normal !important;
      }

    }

  }

  & #block-copyright {
    float: left;
    & p {
      padding: 0;
      margin: 0;
      line-height: 1.3em;
    }
  }

}
