@import "vars";

#lang {
  font-family: $regular;
  display: block;
  margin: 0 20px;
  border-bottom: 1px solid $lightgrey;
  @include susy-breakpoint($desktop) {
    display: inline-block;
    margin: 0;
    border: none;
    float: right;
  }
  & .region-lang {
    padding-top: 30px;
    padding-bottom: 10px;
    @include susy-breakpoint($desktop) {
      padding: 36px 0px 22px 10px;
    }
    & .links {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 1.2em;
      @include susy-breakpoint($desktop) {
        font-size: 0.9em;
      }
      & li {
        display: inline-block;
        padding-right: 10px;
        @include susy-breakpoint($desktop) {
          padding-right: 0px;
          padding-left: 10px;
        }
        &.is-active {
          display: none;
        }
        & a {
          color: $lightgrey;
        }
      }
    }
  }
}

$headerHeight: 75px;

#header {
  background: #FFF;
  height: $headerHeight;
  font-size: 0.9em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  & #block-pure-branding {
    & a {
      border: none;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      & img {
        display: inline;
        height: 25px;
        width: auto;
        border: none;

        &.m {
          height: 35px;
        }
      }
    }
  }

  & a, & h2 {
    color: $middlegrey;
    font-family: $regular;
    /** font-size: 0.9em; **/
    letter-spacing: normal;
  }

  & #microman {
    background: url(../img/burger_menu.svg);
    background-size: contain;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;

    @include susy-breakpoint($desktop) {
      display: none;
    }
  }

  &:after {
    background: $orange;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 100%;
    z-index: -2;
  }

  & .layout-container {
    background: #FFF;
    @include container();
    height: $headerHeight;

    & .region-header {
      display: inline-block;
      float: left;
      position: relative;
      @include span(12);
      @include susy-breakpoint($desktop) {
        @include span(2 no-gutters);
      }
      @include susy-breakpoint($large-desktop) {
        @include span(3 no-gutters);
      }
      height: $headerHeight;
    }

    & .menu {
      display: inline-block;
      font-size: 1.4em;
      width: 100%;
      @include susy-breakpoint($tablet) {
        font-size: 1.2em;
      }
      @include susy-breakpoint($desktop) {
        width: inherit;
        font-size: 0.9em;
      }

      &.regopen {
        & h2 {
          color: $orange;
          font-family: $bold;
        }
      }

      &:first-child > h2 {
        border-top: 1px solid $lightgrey;
        @include susy-breakpoint($desktop) {
          border: 0;
          margin-top: 2px;
        }
      }

      & > h2 {
        border-bottom: 1px solid $lightgrey;
        cursor: pointer;
        font-family: $regular;
        font-size: 1em;
        margin: 0px 20px;
        padding: 8px 0;
        @include susy-breakpoint($desktop) {
          border: 0;
          float: left;
          margin: 0;
          padding: 34px 10px 24px;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
        }

        &.is-active {
          color: $orange;
        }
        &.open {
          @include susy-breakpoint($desktop) {
            border-left: 1px solid $lightgrey;
            border-right: 1px solid $lightgrey;
            background: #fff;
            -webkit-transition: border-color 0.2s linear; /* Saf3.2+, Chrome */
            -moz-transition: border-color 0.2s linear; /* FF3.7+ */
            -o-transition: border-color 0.2s linear; /* Opera 10.5 */
            transition: border-color 0.2s linear;
          }
        }
      }

      & > div.region {
        border-bottom: 1px solid $lightgrey;
        display: none;
        margin: 0 20px;
        padding: 0 0 0 10px;
        width: calc(100% - 40px);
        @include susy-breakpoint($desktop) {
          background: #FFF;
          border: none;
          display: block;
          position: absolute;
          top: 0;
          margin: 0;
          left: 50%;
          @include break();
          @include container();
          padding: 20px 0 60px;
          transform: translate3d(-50%, -100%, 0);
          transition: 1s ease transform;
          width: 100%;
        }
        z-index: -1;

        &.region-mmfour {
          padding: 20px 0;
        }

        &.open {
          @include susy-breakpoint($desktop) {
            max-height: inherit;
            transform: translate3d(-50%, $headerHeight - 1px, 0);
            border-top: 2px solid $lightgrey;
          }
        }
        @include susy-breakpoint($desktop) {
          &.quick {
            transition: none !important;
          }
        }

        & .close {
          display: none;
          @include susy-breakpoint($desktop) {
            cursor: pointer;
            display: block;
            position: absolute;
            right: 1.4%;
            top: 10px;
            width: 17px;
          }
        }
      }

      & nav {
        @include layout(12 .5 split);

        & h2 {
          display: none;
        }

        & ul {
          padding-left: 0px;
          margin-left: 0px;

          & li {
            list-style: none;
            padding: 0;
            @include susy-breakpoint($desktop) {
              padding: 10px 0;

              & ul > li:first-of-type {
                display: block;
              }

            }

            & a {
              @include susy-breakpoint($desktop) {
                font-family: $bold;
                padding: 0;
              }
            }
          }

        }

      }

      & .region-mmone,
      & .region-mmtwo,
      & .region-mmthree {
        & ul li:first-of-type {
          display: none;
        }
        & ul li ul li:first-of-type {
          display: inherit;
        }
      }

      & .region {
        & h2,
        & h3 {
          color: $middlegrey;
          font-size: 0.9em;
          font-family: $regular;
          @include susy-breakpoint($desktop) {
            font-family: $bold;
          }
        }

        & footer {
          clear: both;

          & h3 {
            @include susy-breakpoint($desktop) {
              border-bottom: none !important;
              display: inline-block;
              @include span(3 last);
            }
            & a {
              color: $orange;
              @include susy-breakpoint($desktop) {
                border-bottom: none !important;
              }
            }
          }
        }

        & nav {
          padding-top: 0;
          @include susy-breakpoint($desktop) {
            padding-top: 10px;
          }

          & ul {
            margin: 0;

            & li {
              padding: 0;

              &.accopen > a {
                  font-family: $bold;
                  @include susy-breakpoint($desktop) {
                    font-family: $regular;
                  }
                }

              &:first-child > a {
                border-top: none;
                @include susy-breakpoint($desktop) {
                  padding-top: 0;
                }
              }

              & a {
                display: block;
                padding: 8px 0;
                border-top: 1px solid $lightgrey;

                @include susy-breakpoint($desktop) {
                  border-top: none;
                  padding: 0 0 10px 0;
                }
              }

              & ul {
                display: none;
                @include susy-breakpoint($desktop) {
                  display: block;
                }

                & li {
                  & a {
                    border-top: none;
                    padding: 0 0 8px 0 !important;
                    @include susy-breakpoint($desktop) {
                      padding: 10px 0 !important;
                      border-bottom: 1px solid $lightgrey;
                      font-family: $regular;
                    }
                  }

                  &:first-child a {
                    @include susy-breakpoint($desktop) {
                      padding-top: 10px !important;
                      border-top: 1px solid $lightgrey;
                    }
                  }
                }
              }
            }
          }
        }

        & h2,
        & h3 {
          border-bottom: 1px solid $lightgrey;
          margin: 0;
          padding: 5px 0;
          @include susy-breakpoint($desktop) {
            margin-bottom: 5px;
            padding: 10px 0;
          }
        }

        & nav > ul > li {
          @include susy-breakpoint($desktop) {
            @include span(4);

            &:nth-child(3n) {
              @include last;
            }
          }
        }

        & #block-views-block-mega-menu-news,
        & #block-views-block-mega-menu-jobs {
          display: none;
          @include susy-breakpoint($desktop) {
            display: block;
            @include span(4);

            &:nth-child(3n) {
              @include last;
            }
          }

          & .views-row {
            border-bottom: 1px solid $lightgrey;
            padding: 7px 0;

            & .views-field-field-datum {
              display: inline;
            }

            & .views-field-title {
              display: inline-block;
              font-family: $bold;
              padding-left: 16px;
              position: relative;
              & a {
                font-family: $bold;
              }
              &:before {
                content: "-";
                display: block;
                left: 6px;
                position: absolute;
              }
            }

            & .views-field-body {
              & p {
                margin: 0;
              }
            }
          }
        }

        & #block-unternehmen-2,
        & #block-companies,
        & #block-firma {
          @include susy-breakpoint($desktop) {
            @include span(4);
            padding-top: 0;

            & li {
              @include full();

              & a {
                font-family: $regular;

                @include susy-breakpoint($desktop) {
                  padding: 10px 0;
                  border-bottom: 1px solid $lightgrey;
                }

                &:first-child a {
                  border-top: none;
                  @include susy-breakpoint($desktop) {
                    padding-top: 0;
                  }
                }
              }
            }
          }
        }

        & #block-views-block-mega-menu-references {
          & h3,
          & footer h3 {
            border-bottom: none;
            padding: 0;
            @include susy-breakpoint($desktop) {
              border-bottom: 1px solid $lightgrey;
            }

            & a {
              border-bottom: 1px solid $lightgrey;
              display: block;
              font-size: inherit;
              letter-spacing: normal;
              padding: 8px 0;
              @include susy-breakpoint($desktop) {
                border-bottom: none;
                display: inherit;
                font-family: $bold;
                font-weight: normal;
              }
            }
          }

          .all-references {
            display: block;
            color: $orange;
            padding: 10px 0;
            font-size: .9em !important;
            letter-spacing: normal;
            font-family: $bold;
            font-weight: normal;
            @include susy-breakpoint($desktop) {
              display: none;
            }
          }

          & footer h3 {
            @include susy-breakpoint($desktop) {
              float: right;
              margin-right: 20px;
            }
          }

          & footer h3 a {
            padding-bottom: 8px;
            border-bottom: none;
            @include susy-breakpoint($desktop) {
              border-bottom: 1px solid $lightgrey;
            }
          }

          & .item-list {
            width: 100%;
            display: none;
            @include susy-breakpoint($desktop) {
              @include span(3);
              &:nth-child(4n) {
                @include last;
              }
              display: block;
              min-height: 100px;
              padding-bottom: 10px;
            }

            &:nth-child(2) a {
              padding-top: 8px !important;
            }

            & ul {
              display: none;
              @include susy-breakpoint($desktop) {
                display: block;
              }
              list-style: none;
              margin: 0;
              padding: 0;

              & li {
                display: inline-block;
                padding-right: 6px;
                position: relative;

                & div {
                  display: inline;
                }

                &:after {
                  content: ",";
                  display: block;
                  right: 1px;
                  position: absolute;
                  top: 0;
                }

                &:last-child {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }

        & #block-kontaktwroclaw,
        & #block-standorte {
          display: none;
        }

        & #block-kontaktsite,
        & #block-contacthere,
        & #block-pokontakcie,
        & #block-kontakthamburg {
          @include full();
          margin: 0;
        }

        @include susy-breakpoint($desktop) {
          & #block-kontaktwroclaw,
          & #block-standorte {
            display: block;
          }

          & #block-kontaktsite,
          & #block-contacthere,
          & #block-pokontakcie,
          & #block-kontakthamburg {
            @include nobreak();
          }
        }

        & #block-kontaktsite,
        & #block-contacthere,
        & #block-pokontakcie,
        & #block-kontakthamburg,
        & #block-kontaktwroclaw,
        & #block-standorte {
          & h2 {
            cursor: text;
            padding: 10px 0;
            &:hover {
              color: $grey !important;
            }

            &.contact-more {
              & a {
                color: $orange;
                font-family: $bold;
                font-size: 1em !important;
              }
            }
          }

          & img {
            width: 140px;
            height: auto;
          }

          @include susy-breakpoint($desktop) {
            @include span(3);
          }
          border-bottom: 1px solid $lightgrey;
        }

        & #block-kontaktsite,
        & #block-contacthere,
        & #block-pokontakcie {
          border-bottom: none;
        }

      }
    }
  }

  & a,
  & h2 {
    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }
  .region {
    & h2 {
      &:hover {
        color: $grey !important;
      }
    }
  }
}

.toolbar-fixed #header {
  top: 39px;
}
.toolbar-horizontal #header {
  top: 78px;
}

#main-wrapper {
  margin-top: $headerHeight + 3px;
}

.path-frontpage {

  & #main-wrapper {
    margin-top: 0px;
  }

}

#navi {
  background: #FFF;
  display: none;
  height: calc(100vh - 69px);
  overflow-y: auto;
  position: absolute;
  width: 100%;
  left: 0;
  top: $headerHeight - 1px;
  @include susy-breakpoint($desktop) {
    background: none;
    display: block;
    height: inherit;
    overflow-y: inherit;
    position: inherit;
    width: inherit;
  }
}

#navBg {
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
}
