@import "vars";


/** References Filter **/

.business {
  @include gallery(3 of 12);
  background-color: $lightgrey;
  background-position: 40px 30px;
  background-size: 45%;
  color: $white;
  padding: 225px 30px 30px 30px;
  background-repeat: no-repeat;
  display: block;
  height: 300px;
  font-family: $bold;
  font-size: 1.5em;
}

.airsea {
  background-image: $airsea;
}

.machine {
  background-image: $machine;
}

.electro {
  background-image: $electro;
}

.car {
  background-image: $car;
}

.fmcg {
  background-image: $fmcg;
}

.trade {
  background-image: $trade;
}

.logistics {
  background-image: $logistics;
}

.misc {
  background-image: $misc;
}

/** References Views Placeholder **/

.airseaph {
  background-image: $airseaph;
}

.machineph {
  background-image: $machineph;
}

.electroph {
  background-image: $electroph;
}

.carph {
  background-image: $carph;
}

.fmcgph {
  background-image: $fmcgph;
}

.tradeph {
  background-image: $tradeph;
}

.logisticsph {
  background-image: $logisticsph;
}

.miscph {
  background-image: $miscph;
}

/** Social Media Icons **/

.menu {

  #social {
    padding-left: 0px !important;
    padding-top: 15px;
    border-top: 1px solid lightgrey;
    display: block;

    & li {
      float: left;
      list-style: none;

      & .sm-icon {
        letter-spacing: 0;
        font-size: 0;
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      & #twitter {
        background-image: $twittergrey;
      }

      & #linkedin {
        background-image: $linkedingrey;
      }

      & #xing {
        background-image: $xinggrey;
      }

      & #google {
        background-image: $googlegrey;
      }

      & #fb {
        background-image: $fbgrey;
      }

    }

  }

}

#social {
  padding-left: 0px !important;
  padding-top: 15px;

  & .sm-icon {
    letter-spacing: 0;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
  }

  & #twitter {
    background-image: $twitterwhite;
  }

  & #linkedin {
    background-image: $linkedinwhite;
  }

  & #xing {
    background-image: $xingwhite;
  }

  & #google {
    background-image: $googlewhite;
  }

  & #fb {
    background-image: $fbwhite;
  }

}
