@import "../scss/vars";

.industry-group {
  padding-bottom: 25px;
  @include susy-breakpoint($tablet $desktop) {
    @include span(6);
    &:nth-child(2n) {
      @include last();
    }
  }
  @include susy-breakpoint($desktop) {
    @include span(3);
    &:nth-child(4n) {
      @include last();
    }
  }
  & .industry-image {
    padding-bottom: 30px;
    border-bottom: 1px solid $darkgrey;
    & img {
      width: 100%;
      height: auto;
    }
  }
  & .customers {
    & h3 {
      line-height: 1.2em;
      position: absolute;
      display: block;
      margin-top: -120px;
      color: white;
      margin-left: 20px;
      max-width: 260px;
    }
    & ul {
      list-style: none;
      font-size: 0.9em;
      padding-left: 0px;
      line-height: 1.2em;
      & li {
        padding-bottom: 5px;
        & a {
          color: $middlegrey;
          font-family: $regular;
        }
      }
    }
  }
}

.page-node-type-jobs,
.page-node-type-references,
.page-node-type-news {

  & h1 {
    @include container();
    font-size: 2.5em;

    & span {
      display: block;
      padding-top: 5px;
    }

  }

  & .news-date  {

    & time {
      font-size: 0.9em;
      margin-top: 5px;
      display: block;
    }

  }

  & .facts,
  & .services,
  & .project {
    padding-bottom: 50px;

    & h3 {
      font-size: 2em !important;
      border-bottom: 1px solid $middlegrey;
      padding-bottom: 20px;
      margin-bottom: 40px;
    }

    & ul {
      list-style: none;
      font-size: 0.9em;
      padding-left: 12px;
      line-height: 1.2em;

      & li {
        padding-bottom: 5px;

        &:before {
          content: "-";
          padding-right: 7px;
          margin-left: -12px;
        }

        & a {
          color: $middlegrey;
          font-family: $regular;
        }

      }

    }

  }

  & .facts,
  & .services,
  & .project {
    @include span(full);
  }

  & .facts {
    @include susy-breakpoint($tablet $desktop) {
      @include span(6 of 12);
    }
  }

  & .project {
    @include susy-breakpoint($tablet $desktop) {
      @include span(6 of 12 last);
    }
  }

  & .services {
    @include susy-breakpoint($tablet) {
      padding-left: 0px;
      padding-right: 0px;
    }
    @include susy-breakpoint($desktop) {
      @include last();
    }
  }

  & .facts,
  & .services,
  & .project {
    @include susy-breakpoint($desktop) {
      @include span(4 of 12);
      &:nth-child(3) {
        @include last();
      }
    }
  }



}

.page-node-type-jobs,
.page-node-type-references,
.page-node-type-news,
.page-node-type-article,
.page-node-type-page,
.path-taxonomy {

  & .partner {
    @include span(full);
    padding-bottom: 50px;
    @include susy-breakpoint($desktop) {
      @include span(first 4);
      padding-bottom: 0px;
    }
    font-size: 0.9em;
    line-height: 1.3em;

    & > div:first-child,
    & > span:first-child{
      font-family: $bold;
      font-size: 1.5em;
      letter-spacing: 1px;
      border-bottom: 1px solid $middlegrey;
      padding-top: 0px;
      padding-bottom: 24px;
      padding-top: 8px;
      margin-bottom: 40px;
      display: block; // OK?
    }

    & h3 {
      font-size: 1em !important;
    }

    & a {
      font-family: $regular;
      color: $middlegrey;
    }

    & article {
      margin-bottom: 15px;
      & .portrait {
        display: inline-block;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      & .position {
        padding-bottom: 22px;
      }
    }

  }

}

.page-node-type-references {

  & .refernce_slider {
    padding-bottom: 95px;
  }

  & article {

    &.industry-id-7 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
              content: " ";
              display: block;
              float: inherit;
              background-image: $airseasz;
              background-size: cover;
              width: 88px;
              height: 88px;
              margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

    &.industry-id-8 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
              content: " ";
              display: block;
              float: inherit;
              background-image: $machinesz;
              background-size: cover;
              width: 88px;
              height: 88px;
              margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

    &.industry-id-10 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
              content: " ";
              display: block;
              float: inherit;
              background-image: $carsz;
              background-size: cover;
              width: 88px;
              height: 88px;
              margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

    &.industry-id-11 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
              content: " ";
              display: block;
              float: inherit;
              background-image: $logisticssz;
              background-size: cover;
              width: 88px;
              height: 88px;
              margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

    &.industry-id-12 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
              content: " ";
              display: block;
              float: inherit;
              background-image: $fmcgsz;
              background-size: cover;
              width: 88px;
              height: 88px;
              margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

    &.industry-id-13 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
              content: " ";
              display: block;
              float: inherit;
              background-image: $electrosz;
              background-size: cover;
              width: 88px;
              height: 88px;
              margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

    &.industry-id-14 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
                content: " ";
                display: block;
                float: inherit;
                background-image: $tradesz;
                background-size: cover;
                width: 88px;
                height: 88px;
                margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

    &.industry-id-23 {

      & .facts {

        & p {

          &:nth-child(2) {

            &:before {
              content: " ";
              display: block;
              float: inherit;
              background-image: $miscsz;
              background-size: cover;
              width: 88px;
              height: 88px;
              margin-right: 20px;

              @include susy-breakpoint($tablet) {
                float: left;
              }

            }

          }

        }

      }

    }

  }

}

.page-node-type-jobs {

  & #content {

    & h1 {
      padding-bottom: 20px;
      margin-bottom: 55px;
      border-bottom: 1px solid $middlegrey;
    }

    & ul {
      font-family: $bold;
      font-size: 0.9em;
      padding-left: 15px;

      & li {
        padding-bottom: 3px;
      }

    }
  }

}

.page-node-type-page .jobs-overview {
  padding-top: 50px;
}

body {

  &.path-referenzen {

    & .region-content {
      & a[data-drupal-link-system-path="referenzen"] {
        display: none;
      }
    }

  }

  &.path-neuigkeiten {

    & .region-content {
      & a[data-drupal-link-system-path="neuigkeiten"] {
        display: none;
      }
    }
  }
}

.path-taxonomy {
  & h1 {
    font-family: $bold;
    display: block;
    border-bottom: 1px solid $darkgrey;
    padding-bottom: 25px;
    margin-bottom: 40px;
    @include susy-breakpoint($tablet) {
      margin-bottom: 50px;
    }
    @include susy-breakpoint($desktop) {
      margin-bottom: 60px;
    }
  }
}

.customers {

  & .views-row {
    padding-bottom: 40px;

    & h2 {
      font-size: 2em !important;
      border-bottom: 1px solid $middlegrey;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 40px;
    }

    & ul {
      list-style: none;
      font-size: 0.9em;
      padding-left: 12px;
      line-height: 1.2em;

      & li {
        padding-bottom: 5px;

        &:before {
          content: "-";
          padding-right: 7px;
          margin-left: -12px;
        }

        & a {
          color: $middlegrey;
          font-family: $regular;
        }

      }

    }

    & .contentwrapper {
      @include span(full);
      @include susy-breakpoint($desktop) {
        @include span(first 8);
      }


      & .facts,
      & .services,
      & .project {
        @include span(full);
        & p {
          margin-top: 0px;
        }
        ul {
          margin-top: 0px;
        }
      }

      & .facts {
        @include susy-breakpoint($tablet $desktop) {
          @include span(6 of 12);
        }
        & img#industry-icon {
          display: block;
          float: inherit;
          width: 88px;
          height: 88px;
          margin-right: 20px;
          @include susy-breakpoint($tablet) {
            float: left;
          }
        }
      }

      & .project {
        @include susy-breakpoint($tablet $desktop) {
          @include span(6 of 12 last);
        }
      }

      & .services {
        padding-left: 0px;
        padding-right: 0px;
        @include susy-breakpoint($tablet) {
          padding-top: 30px;
        }
        @include susy-breakpoint($desktop) {
          padding-top: 0px;
        }
      }

      & .facts,
      & .project {
        @include susy-breakpoint($desktop) {
          @include span(6 of 12);
        }
      }

      & .project {
        @include last();
      }

    }

    .serviceswrapper {
      @include span(full);
      @include susy-breakpoint($desktop){
        @include span(last 4);
      }
    }

  }

  & .views-footer {
    & > div {
      @include span (full);
      @include susy-breakpoint($desktop) {
        @include span(8 of 12);
      }

      & .views-field-field-partner {
        @include span(full);
        padding-bottom: 50px;
        @include susy-breakpoint($tablet) {
          @include span(first 49%);
        }
        @include susy-breakpoint($desktop) {
          @include span(first 6);
          padding-bottom: 0px;
        }
        font-size: 0.9em;
        line-height: 1.3em;

        & > div:first-child,
        & > span:first-child{
          font-family: $bold;
          font-size: 1.5em;
          letter-spacing: 1px;
          border-bottom: 1px solid $middlegrey;
          padding-top: 0px;
          padding-bottom: 24px;
          padding-top: 8px;
          margin-bottom: 40px;
          display: block; // OK?
        }

        & h3 {
          font-size: 1em !important;
        }

        & a {
          font-family: $regular;
          color: $middlegrey;
        }

        & .portrait {
          display: inline-block;
          float: left;
          margin-right: 20px;
          margin-bottom: 20px;
        }

        & .position {
          padding-bottom: 22px;
        }

      }

      & .views-field-field-link-downloads {
        @include susy-breakpoint($tablet) {
          @include span(last 49%);
        }
        @include susy-breakpoint($desktop) {
          @include span(last 6);
        }

        & h4,
        & span.views-label {
          font-size: 1.3em;
          font-family: $bold;
          border-bottom: 1px solid $darkgrey;
          padding-top: 5px;
          padding-bottom: 20px;
          margin-bottom: 40px;
          display: block; //OK?
        }

        & ul {
          list-style: none;
          font-size: 0.9em;
          padding-left: 12px;
          line-height: 1.2em;

          & li {
            padding-bottom: 5px;

            &:before {
              content: "-";
              padding-right: 7px;
              margin-left: -12px;
            }

            & a {
              color: $middlegrey;
              font-family: $regular;
            }

          }

        }

      }

    }

  }

  & .back-to {
    @include susy-breakpoint($tablet) {
      @include span(4 of 12);
    }
  }

}