@import "../scss/vars";

#main {
  & section {
    & nav#block-unternehmen-4,
    & nav#block-companies-2,
    & nav#block-firma-2,
    & nav#block-beratungkonzeption,
    & nav#block-planungrealisierung,
    & nav#block-optimierungeffizienzsteigerung-2,
    & nav#block-consultingconception-2,
    & nav#block-planningrealisation-2,
    & nav#block-optimisationincreasedefficiency-2,
    & nav#block-doradztwoikoncepcja-2,
    & nav#block-planowanieirealizacja-2,
    & nav#block-optymalizacjaipodniesieniewydajnosci-2 {
      @include container();
      & > ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        & > li {
          padding-left: 0;
          margin-left: 0;
          @include susy-breakpoint($tablet) {
            @include span(6);
          }
          @include susy-breakpoint($desktop) {
            @include span(4);
          }
          &:nth-child(2n) {
            @include susy-breakpoint($tablet $desktop) {
              @include last();
            }
          }
          &:first-child {
            display: none;
          }
          &:last-child {
            @include susy-breakpoint($desktop) {
              @include last();
            }
          }
          & > a:first-child {
            font-size: 1.2em;
            font-weight: bold;
            padding-top: 30px;
            padding-bottom: 15px;
            display: block;
          }
        }
      }
      & ul {
        list-style: none;
        font-size: 1em;
        padding-left: 0px;
        line-height: 1.2em;
        @include susy-breakpoint($tablet) {
          font-size: 0.95em;
        }
        @include susy-breakpoint($desktop) {
          font-size: 0.9em;
        }
        & li {
          & a {
            color: $middlegrey;
            font-family: $regular;
          }
          & ul {
            & li {
              padding: 7px 0;
            }
          }
        }
      }
    }
  }
}

