@import "vars";


  .optional {
    display: none;
  }

  .full {

      & .hl-wrapper {
        @include container(12);

        & .slideshow-hl {

          & p {
            color: $white;
            font-family: $bold;
            font-size: 2.3em;
            line-height: 1.2em;
            display: block;
            position: absolute;
            z-index: 10;
            bottom: 8%;
            max-width: 1000px;
            width: 80%;
            margin-left: gutter();

            @include susy-breakpoint($tablet) {
              font-size: 2.6em;
            }

            @include susy-breakpoint($desktop) {
              margin-left: 0px;
              font-size: 2.9em;
            }

          }

        }

      }

      & .flex-caption {
        @include container(12);
        color: $white;
        font-size: 0.8em;
        text-align: right;
        margin-top: -7%;
        padding-right: 20px;
        position: relative;
        z-index: 2;

        @include susy-breakpoint($desktop) {
          padding-right: 0px;
          margin-top: -3%;
        }

      }

      & .flex-control-paging {
        position: relative;
        @include container();
        bottom: 50px;
        z-index: 10;
        text-align: left;
        margin-left: gutter();

        @include susy-breakpoint($desktop) {
          margin-left: auto;
        }

        & li {

          & a {
            background: $white !important;
            box-shadow: none;
            width: 15px;
            height: 15px;

            &.flex-active {
              background: $orange !important;
            }

          }

        }

      }

      & .flex-direction-nav {
        display: none;
      }

      & .flex-control-nav {
        display: inherit;
      }

    }


.flex-direction-nav {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  & a {
    display: none;
  }

  @include susy-breakpoint(1450px) {
    & .flex-nav-prev {

      & a {
        background-image: $nav-left;
        transform: translateX(-100%);

        &:hover {
          opacity: 0.5;
        }

      }

    }

    & .flex-nav-next a,
    & .flex-nav-prev a {
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 0px;
      opacity: 1;
      display: block;
      width: 45px;
      height: 75px;
      margin-left: -25px;
      top: 40%;
      position: absolute;
    }

    & .flex-nav-next {

      & a {
        background-image: $nav-right;
        transform: translateX(100%);
        right: 0px;
        margin-right: -25px;

        &:hover {
          opacity: 0.5;
        }

      }

    }

  }

}

.slideshow {
  position: relative;

  & ul.slides {

    & li {
      position: relative;

      & img {
        width: 100%;
      }

      & a {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        position: relative;
      }

    }

  }

}

.flex-control-nav {
  display: none;
}

.refernce_slider {
  @include full();
  position: relative;
}

.customer-slider {
  position: relative;
}