$light: "HelveticaNeueW01-45Ligh","Helvetica Neue";
$regular: "HelveticaNeueW01-55Roma","Helvetica Neue";
$bold: "HelveticaNeueW01-75Bold","Helvetica Neue";

$orange: #dc5028;
$white: #fff;
$grey: #676c73;
$darkgrey: #7b8086;
$middlegrey: #696e75;
$lightgrey: #cecece;
$ultralightgrey: #d5d6d6;

$logowhite: url(../img/metroplan_weiss.svg);
$logomwhite: url(../img/metroplan_m_weiss.svg);

$airsea: url(../img/luftfahrtindustrie-und-schiffbau.svg);
$machine: url(../img/maschinen--und-anlagenbau.svg);
$electro: url(../img/elektrotechnik-elektronik.svg);
$car: url(../img/automobilzulieferer.svg);
$fmcg: url(../img/fmcg.svg);
$trade: url(../img/handel-fashion-ecommerce.svg);
$logistics: url(../img/logistikdienstleister.svg);
$misc: url(../img/andere.svg);

$airseaph: url(../img/luftfahrtindustrie-und-schiffbau.png);
$machineph: url(../img/maschinen--und-anlagenbau.png);
$electroph: url(../img/elektrotechnik-elektronik.png);
$carph: url(../img/automobilzulieferer.png);
$fmcgph: url(../img/food-fmcg.png);
$tradeph: url(../img/handel-fashion-ecommerce.png);
$logisticsph: url(../img/logistikdienstleister.png);
$miscph: url(../img/anderes.png);

$airseasz: url(../img/luftfahrtindustrie-und-schiffbau_sz.svg);
$machinesz: url(../img/maschinen--und-anlagenbau_sz.svg);
$electrosz: url(../img/elektrotechnik-elektronik_sz.svg);
$carsz: url(../img/automobilzulieferer_sz.svg);
$fmcgsz: url(../img/fmcg_sz.svg);
$tradesz: url(../img/handel-fashion-ecommerce_sz.svg);
$logisticssz: url(../img/logistikdienstleister_sz.svg);
$miscsz: url(../img/andere_sz.svg);

$fbwhite: url(../img/Icon_Facebook.svg);
$linkedinwhite: url(../img/Icon_LinkedIn.svg);
$googlewhite: url(../img/Icon_GooglePlus.svg);
$twitterwhite: url(../img/Icon_Twitter.svg);
$xingwhite: url(../img/Icon_Xing.svg);

$fbgrey: url(../img/Icon_Facebook_grey.svg);
$linkedingrey: url(../img/Icon_LinkedIn_grey.svg);
$googlegrey: url(../img/Icon_GooglePlus_grey.svg);
$twittergrey: url(../img/Icon_Twitter_grey.svg);
$xinggrey: url(../img/Icon_Xing_grey.svg);

$nav-left: url(../img/nav_slide_left.svg);
$nav-right: url(../img/nav_slide_right.svg);

@import "../../../../../node_modules/susy/sass/susy";

$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: 1280px,
        container-position: center,
        columns: 12,
        gutters: .25,
        column-width: false,
        global-box-sizing: border-box,
        last-flow: from,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: false,
                box-sizing: true,
                clearfix: false,
                rem: true,
        )
);

/* Breakpoints */

$large-desktop: 1190px;
$desktop: 1080px;
$tablet: 600px;