@import "vars";

.views-element-container {
  @include container();
}

.block-views {

  & h2 {
    font-size: 3em;
  }

}
.news-overview  {

  & .hero-wrapper-left {
    @include span(full);

    & h2#hero-hl {
      font-size: 2.2em;
      line-height: 1.2em;
      padding-top: 30px;
      padding-bottom: 10px;

      &:before {
        content: "";
        border-top: 1px solid $middlegrey;
        position: absolute;
        width: 100%;
        max-width: 1280px;
        display: block;
        height: 1px;
        margin-top: -30px;
      }

      & a {
        color: $middlegrey;
      }

    }

    @include susy-breakpoint($tablet) {
      @include span(first 4);
      margin-bottom: 50px;
    }

  }

  & .hero-wrapper-right {
    @include span(full);
    padding-top: 25px;
    padding-bottom: 50px;

    & p {
      display: inline;
    }

    & a {
      font-size: 0.9em;
    }

    @include susy-breakpoint($tablet) {
      @include span(last 8);
      padding-top: 30px;
    }

  }

  & img {
    margin-bottom: 50px;
  }

  & > h3 {
    display: none;
  }

  & h4 {
    @include span(first 4);
    color: $lightgrey;
    font-size: 2.2em !important;
    padding-top: 45px;
    clear: both;
    height: 100px;

    &:before {
      @include span(full);
      content: "";
      border-top: 1px solid $middlegrey;
      display: block;
      height: 1px;
      margin-top: -40px;
      padding-top: 40px;
      position: absolute;

      @include susy-breakpoint($tablet) {
        max-width: 1280px;
        width: 100%;
        padding-top: 0px;
      }

    }

  }

  & .month {

    & .views-row {
      @include span(full);
      padding-bottom: 30px;
      border-bottom: 1px solid $middlegrey;
      float: right !important;

      & h2 {
        padding-top: 47px;
        padding-bottom: 5px;
        letter-spacing: 0px !important;

        & a {
          color: $middlegrey;
        }

      }

      &:last-child {
        border-bottom: none;
      }

      @include susy-breakpoint($tablet) {
        @include span(last 8);
      }

    }

  }

  & .views-element-container .views-row {
    @include span(12);
  }

  & .pager {
    @include span(12);
  }

}

.page-node-type-news {

  & .news-date {
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid $middlegrey;
  }

  & .news-body {
    padding-top: 10px;
    padding-bottom: 80px;
  }

}


.overview {
  padding-top: 40px;
  @include susy-breakpoint($desktop) {
    padding-top: 50px;
  }

  & .views-row {
    @include span(full);
    height: 90vw;

    @include susy-breakpoint($tablet + 60px) {
      @include span(6);
      height: 48vw;
      @include nobreak();
    }

    @include susy-breakpoint($tablet + 60px $desktop) {
      &:nth-of-type(2n) {
        @include last;
      }
    }

    @include susy-breakpoint($desktop) {
      @include span(4);
      height: 30vw;
      max-height: 400px;

      &:nth-of-type(3n+3) {
        @include last;
      }
    }

    background-color: $lightgrey;
    margin-bottom: 20px;
    position: relative;

    &:hover {
      background: $orange;
      cursor: pointer;
    }

    & .views-field-title {
      font-size: 1.5em;
      padding: 30px;

      & a {
        color: $white;
        display: block;
        position: absolute;
        text-decoration: none;
        padding: 20px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
      }

    }

    & .views-field-body {
      padding: 30px;
      color: $white;
      position: absolute;
      bottom: 10px;
    }

  }

}

#block-aktualnoscifilter,
#block-newsfilter,
#block-neuigkeitenfilter,
#block-referenzen {
  @include container();
  border-top: 1px solid $middlegrey;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 30px;

  & h2 {
    display: none;
  }

  & ul {
    list-style: none;
    padding-left: 0px;

    & li {
      @include full();
      margin-bottom: 10px;

      &:first-child {

        &:before {
          content: "Filter:";
          font-family: $bold;
          display: inline-block;
          margin-bottom: 0px;
          padding-right: 10x;

          @include susy-breakpoint($desktop) {
            display: block;
            margin-bottom: 10px;
            padding-right: 0x;
          }

        }

      }

      & a.reset-filter {
        display: none;
      }

      @include susy-breakpoint($tablet) {

        @include nobreak();
        @include span(6);

      }

      @include susy-breakpoint($tablet $desktop) {
        &:nth-child(2n) {
          @include last;
        }
      }

      @include susy-breakpoint($desktop) {
        @include span(3);
        &:nth-child(3n) {
          @include last;
        }
        &:nth-child(8n) {
          @include squish(3 0);
          margin-right: gutter();
          clear: both;
        }
        &:nth-child(9n) {
        }
      }

      & a {
        font-family: $regular;
        color: $middlegrey;
      }

      &:first-child {

        & a {
          color: $orange;
        }

      }

    }

  }

}

#content .portfolio {

  & .noresult {
    display: none;
  }

  & .item-list {

    & ul {
      list-style: none;
      padding-left: 0px;

      & li {
        @include span(12);
        padding-top: 50px;
        @include susy-breakpoint($tablet $desktop) {
          @include nobreak();
          @include span(6);
          min-height: 400px;
          &:nth-child(2n) {
            @include last();
          }
        }

        @include susy-breakpoint($desktop) {
          @include span(3);
          min-height: 425px;
          &:nth-child(4n+4) {
            @include last();
          }
          &:nth-child(4n+5) {
            clear: both;
          }
        }

      }

    }

  }

  & > .views-row {
    @include span(12);
    min-height: 525px;
    @include susy-breakpoint($tablet) {
      @include nobreak();
      @include span(6);
      min-height: 525px;
      &:nth-child(2n+1) {
        @include last();
      }
    }

    @include susy-breakpoint($desktop) {
      @include span(3);
      min-height: 425px;
      &:nth-child(4n) {
        @include last();
      }
      &:nth-child(2n) {
        margin-right: gutter();
      }
    }

  }

  & .views-field-field-image + .views-field-title {
    border-top: 1px solid $middlegrey;
    margin-top: 20px;
    padding-top: 10px;

    & a {
      font-family: $regular;
      color: $middlegrey;
    }

  }

  & img {
    margin: 0 auto 50px 0;
    display: block;
  }

}

.is-active {
  font-family: $bold;
  font-weight: bold !important;

  & ul {

    & a {
      font-family: $bold;
      font-weight: bold !important;
    }

  }

}

#content .clients {

  & div.item-list {
    @include full();
    min-height: 150px;

    @include susy-breakpoint($tablet) {
      @include span(6);
      @include nobreak();
    }

    @include susy-breakpoint($tablet $desktop) {
      &:nth-child(2n+1) {
        @include last;
      }
    }

    @include susy-breakpoint($desktop) {
      @include span(3);

      &:nth-child(4n) {
        @include last;
      }

    }

    & h3 {
      border-bottom: 1px solid $middlegrey;
      padding-bottom: 20px;
      font-size: 0.9em;
    }

    & ul {
      padding-left: 0px;
      margin-left: 0px;

      & li {
        list-style: none;
        line-height: 1.4em;
        padding-left: 0px;
        margin-left: 0px;
        float: left;

        & a {
          font-family: $regular;
          color: $middlegrey;

          &:after {
            content: ",";
            padding-right: 3px;
          }

        }

      }

    }

  }

}

.block-views-blockreference-customers-block-1 {

  & h2 {
    font-size: 2.1em !important;
    font-family: $bold;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid $middlegrey;
    padding-top: 75px !important;
  }

}
